<strong>Olá, {{ deliveryman }}</strong>
<p> Uma nova entrega foi registrada, produto já está disponível para a retirada.</p>
<p>confira os detalhes abaixo:</p>
<p>
  <strong>Destinatário: </strong> {{ recipient }}<br>
  <strong>Cidade: </strong> {{ city }} - {{ state }}<br>
  <strong>Produto: </strong> {{ product }}<br>
  <br>
  <small>
    Fique atento a qualquer mudança para essa entrega.
  </small>
</p>
