<strong>Olá, {{ name }}!</strong>

<p>Obrigado por fazer parte da GYMPOINT. Estamos animados para ajudá-lo a atingir seus objetivos de saúde e fitness.</p>

<p>Seu plano <strong>{{ plan }}</strong> no valor de <strong>R${{ price }}</strong> por mês, inicia-se em
  <strong>{{ start_date }}</strong> e termina em <strong>{{ end_date }}</strong>.</p>

<p>Atenciosamente,</p>
